<form action="/csv_files/store" method="POST">
    <div class="mb-3">
        <label for="formFile" class="form-label">Default file input example</label>
        <input class="form-control" type="file" id="formFile" name='csvFile' required>
        <div class="form-group m-5">
            <button type="submit" class="btn btn-success">Upload</button>
        </div>

    </div>
</form>